@model ProASP_Chapter2.Models.ResponseModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/VerifyPage.css"/>
    <title>RegisterForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Name: @Html.TextBoxFor(x => x.Name) </p>
        <p>Email: @Html.TextBoxFor(x => x.Email) </p>
        <p>Phone: @Html.TextBoxFor(x => x.Phone) </p>
        <p>
            Will You Go: @Html.DropDownListFor(x => x.WillYou, new[]
            { new SelectListItem() {Text = "Yes", Value = bool.TrueString },
            new SelectListItem() {Text = "No", Value = bool.FalseString}
            }, "Decide yourself")
        </p>

        <input type="submit" value="SendForm" />

    }

</body>
</html>
